/*
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif; 
} */
/* -------------------------------------------  Navigation section  ------------------------------------------- */
header{
	position: relative;
	z-index: 10;
	width: 100%;
}

.navbar{
	padding: 20px 0; 
}

.navbar-brand{
	text-transform: uppercase;
	font-size: 2em;
	color: #262626;
}

.nav-item{
	text-transform: uppercase; 
}

.navbar-light .navbar-nav .nav-item .nav-link:hover,
.navbar-light .navbar-nav .nav-item.active .nav-link{
	background: #3b5998;
	color: #fff;
	border-radius: 10px;
}

.navbar-light .navbar-nav .nav-item .nav-link{
	color: #262626;
	padding: 5px 15px;
	margin: 0 5px;
}
/* -------------------------------------------  picture section  ------------------------------------------- */
.row{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
.row .column{
	flex: 33.3%; /* we have 3 columns */
	width: auto;
	overflow: hidden;
	padding: 0 4px;
	height: 100%;
}

.row .column img{
	width: 100%;
	height: 100%;
	margin-top: 2%;
	cursor: pointer;
	filter: grayscale(1) brightness(0.5);
	transition: 0.3s linear;
}

.row .column img:hover{
	filter: grayscale(0) brightness(1);	
}

/* -------------------------------------------  footer section  ------------------------------------------- */
.social a{
  font-size: 4em;
  padding: 3rem;
}

.fa-facebook-square{
  color: #3b5998;
}

.fa-envelope{
  color: #D44638; 
}

.fa-linkedin{
  color: #0e76a8;
}

.fa-instagram{
  color: #405DE6;
}

.fa-youtube{
  color: #bb0000;
}

.fa-facebook-square:hover, .fa-instagram:hover , .fa-youtube:hover, .fa-envelope:hover, .fa-linkedin:hover{
  color: #d5d5d5;
}

/* -------------------------------------------  media tags  ------------------------------------------- */

@media(max-width: 576px){
  #logoImg{
  	width: 75%;
  	height: 100%;
  }  
}