header{
	position: relative;
	z-index: 10;
	width: 100%;
}

.navbar{
	padding: 20px 0; 
}

.navbar-brand{
	text-transform: uppercase;
	font-size: 2em;
	color: #262626;
}

.nav-item{
	text-transform: uppercase; 
}

.navbar-light .navbar-nav .nav-item .nav-link:hover,
.navbar-light .navbar-nav .nav-item.active .nav-link{
	background: #3b5998;
	color: #fff;
	border-radius: 10px;
}

.navbar-light .navbar-nav .nav-item .nav-link{
	color: #262626;
	padding: 5px 15px;
	margin: 0 5px;
}

/* -------------------------------------------  footer section  ------------------------------------------- */
.social a{
  font-size: 4em;
  padding: 3rem;
}

.fa-facebook-square{
  color: #3b5998;
}

.fa-envelope{
  color: #D44638; 
}

.fa-linkedin{
  color: #0e76a8;
}

.fa-instagram{
  color: #405DE6;
}

.fa-youtube{
  color: #bb0000;
}

.fa-facebook-square:hover, .fa-instagram:hover , .fa-youtube:hover, .fa-envelope:hover, .fa-linkedin:hover{
  color: #d5d5d5;
}