/*------------------------------------------- Navigation bar -------------------------------------*/

/*------------------------------------------- Main section -------------------------------------*/
#our-project{
    font-family: American Typewriter, serif;
    text-shadow: var(--shadow) 2px 2px;
    font-size: 80px;
}

#event-title{
    font-family: Palatino, URW Palladio L, serif;
    text-shadow: var(--shadow) 2px 2px;
    background-color: dimgray;
    color: floralwhite;
    font-size: 50px;
    text-align: left!important;
}

.project-report{
  padding-bottom: 60px!important;
  font-family: Palatino, URW Palladio L, serif;
}

:root {
    --border-size: 0.125rem;
    --duration: 250ms;
    --ease: cubic-bezier(0.215, 0.61, 0.355, 1);
    --font-family: monospace;
    --color-primary: white;
    --color-secondary:dimgray;
    --color-tertiary: dodgerblue;
    --shadow: rgba(0, 0, 0, 0.1);
    --space: 1rem;
  }


.button-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
}

.button-group button{
    height: 80%;
    width: 15%;
    flex-grow: 1;
    cursor: pointer;
    position: relative;
    padding:
    calc(var(--space) / 1.125)
    var(--space)
    var(--space);
    border: none;
    color: black;
    background-color: var(--color-primary);
    font-size: 1.5rem;
    font-family: var(--font-family);
    text-shadow: var(--shadow) 2px 2px;
    transition: flex-grow var(--duration) var(--ease);
    border-radius: 90px!important;
}


.button-group button + button {
    margin-left: calc(var(--border-size) * -1);
    border-radius: 90px!important;
  }

.button-group button:hover,.button-group button:focus {
  flex-grow: 2;
  color: white;
  outline: none;
  text-shadow: none;
  background-color: var(--color-secondary);
  border-radius: 90px!important;
}
.button-group button:focus {
    outline: var(--border-size) dashed var(--color-primary);
    outline-offset: calc(var(--border-size) * -3);
    border-radius: 90px!important;
  }
  
  .button-group:hover button:focus:not(:hover) {
    flex-grow: 1;
    color: var(--color-secondary);
    background-color: var(--color-primary);
    outline-color: var(--color-tertiary);
  }
  
  .button-group button:active {
    transform: translateY(var(--border-size));
  }

/* -------------------------------------------  footer section  ------------------------------------------- */
.social a{
  font-size: 4.5em;
  padding: 3rem;
}

.fa-facebook-square{
  color: #3b5998;
}

.fa-envelope{
  color: #D44638; 
}

.fa-linkedin{
  color: #0e76a8;
}

.fa-instagram{
  color: #405DE6;
}

.fa-youtube{
  color: #bb0000;
}

.fa-facebook-square:hover, .fa-instagram:hover , .fa-youtube:hover, .fa-envelope:hover, .fa-linkedin:hover{
  color: #d5d5d5;
}

