/*------------------------------------------- Navigation bar -------------------------------------*/
header{
  position: relative;
  z-index: 10;
  width: 100%;
}

.navbar{
  padding: 20px 0; 
}

.navbar-brand{
  text-transform: uppercase;
  font-size: 2em;
  color: #262626;
}

.nav-item{
  text-transform: uppercase; 
}

.navbar-light .navbar-nav .nav-item .nav-link:hover,
.navbar-light .navbar-nav .nav-item.active .nav-link{
  background: #3b5998;
  color: #fff;
  border-radius: 10px;
}

.navbar-light .navbar-nav .nav-item .nav-link{
  color: #262626;
  padding: 5px 15px;
  margin: 0 5px;
}

/*------------------------------------------- Main section -------------------------------------*/
#our-project{
    font-family: American Typewriter, serif;
    text-shadow: var(--shadow) 2px 2px;
    font-size: 80px;
}

#event-title{
    font-family: Palatino, URW Palladio L, serif;
    text-shadow: var(--shadow) 2px 2px;
    font-size: 50px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.project-report{
  padding-bottom: 60px!important;
  font-family: Palatino, URW Palladio L, serif;
}

.project-sub{
  padding-top: 10px;
  padding-bottom: 5px!important;
}

:root {
    --border-size: 0.125rem;
    --duration: 250ms;
    --ease: cubic-bezier(0.215, 0.61, 0.355, 1);
    --font-family: monospace;
    --color-primary: white;
    --color-secondary: #3b5998;
    --color-tertiary: dodgerblue;
    --shadow: rgba(0, 0, 0, 0.1);
    --space: 1rem;
  }

/*
.button-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
}

.button-group button{
    height: 80%;
    width: 15%;
    flex-grow: 1;
    cursor: pointer;
    position: relative;
    padding:
    calc(var(--space) / 1.125)
    var(--space)
    var(--space);
    border: none;
    color: black;
    background-color: var(--color-primary);
    font-size: 1.5rem;
    font-family: var(--font-family);
    text-shadow: var(--shadow) 2px 2px;
    transition: flex-grow var(--duration) var(--ease);
    border-radius: 50px!important;
    margin-left: 5px!important;
}


.button-group button + button {
    margin-left: calc(var(--border-size) * -1);
}

.button-group button:hover,.button-group button:focus {
  flex-grow: 2;
  color: white;
  outline: none;
  text-shadow: none;
  background-color: var(--color-secondary);
}
  
.button-group:hover button:focus:not(:hover) {
    flex-grow: 1;
    color: var(--color-secondary);
    background-color: var(--color-primary);
    outline-color: var(--color-tertiary);
}
  
.button-group button:active {
    transform: translateY(var(--border-size));
}
*/
.project-display button{
  width: 125px!important;
  border: none!important; 
}

/* -------------------------------------------  footer section  ------------------------------------------- */
.social a{
  font-size: 4em;
  padding: 3rem;
}

.fa-facebook-square{
  color: #3b5998;
}

.fa-envelope{
  color: #D44638; 
}

.fa-linkedin{
  color: #0e76a8;
}

.fa-instagram{
  color: #405DE6;
}

.fa-youtube{
  color: #bb0000;
}

.fa-facebook-square:hover, .fa-instagram:hover , .fa-youtube:hover, .fa-envelope:hover, .fa-linkedin:hover{
  color: #d5d5d5;
}

/*----------------------------------------------media queries------------------------------------------------*/
@media(max-width: 576px){
  .button-group button{
    position: relative;
    border-radius: 10px!important;
    padding: 10px;
  }
  
  #logoImg{
    width: 75%;
    height: 100%;
  }    
}
